<section
  class="tw-h-screen tw-w-screen tw-bg-blue tw-pl-[200px] tw-flex tw-flex-col"
>
  <div
    class="tw-w-full tw-h-auto tw-flex tw-flex-row tw-px-10 tw-border-b-2 tw-py-3 tw-justify-between tw-items-center"
  >
    <h1 class="tw-text-xl tw-text-black">Jan 2024</h1>
    <div class="tw-flex tw-flex-row tw-gap-2 tw-justify-center tw-items-center">
      <div
        class="tw-w-7 tw-h-7 tw-cursor-pointer tw-border-2 tw-flex tw-justify-center tw-items-center tw-rounded-full tw-p-4"
        (click)="previousWeek()"
      >
        <i class="material-icons">chevron_left</i>
      </div>
      <h1 class="tw-text-xl tw-text-black">
        {{ weeks[currentWeekIndex].start | date : "dd MMM" }} -
        {{ weeks[currentWeekIndex].end | date : "dd MMM yyyy" }}
      </h1>
      <div
        class="tw-w-7 tw-h-7 tw-cursor-pointer tw-border-2 tw-flex tw-justify-center tw-items-center tw-rounded-full tw-p-4"
        (click)="nextWeek()"
      >
        <i class="material-icons">chevron_right</i>
      </div>
    </div>
    <button
      class="tw-flex tw-w-auto tw-px-4 tw-py-2 tw-bg-sky-800 tw-items-center tw-flex-row tw-gap-2 tw-rounded-xl"
    >
      <i class="tw-invert material-icons">add_circle</i>
      <h1 class="tw-text-white tw-text-lg tw-font-semibold">New activity</h1>
    </button>
  </div>
  <div class="tw-w-full tw-h-full tw-overflow-auto">
    <div class="tw-grid tw-grid-cols-8 tw-gap-0 tw-p-4">
      <div class="tw-flex tw-flex-col tw-gap-0">
        <div class="tw-h-16"></div>
        <div
          *ngFor="let hour of hours"
          class="tw-h-20 tw-flex tw-items-start tw-justify-center"
        >
          {{ hour.substring(0,5) }}
        </div>
      </div>
      <div *ngFor="let day of days" class="tw-flex tw-flex-col tw-gap-0">
        <div
          class="tw-h-16 tw-flex tw-flex-col tw-items-center tw-border tw-border-gray-300 tw-justify-center tw-font-bold"
        >
          <div
            class="tw-h-auto tw-flex tw-items-center tw-justify-center tw-font-bold"
          >
            {{ day.day }}
          </div>
          <div
            class="tw-h-auto tw-flex tw-items-center tw-justify-center tw-font-bold"
          >
            {{ day.name }}
          </div>
        </div>
        <div
          *ngFor="let hour of hours"
          class="tw-h-20 tw-border tw-border-gray-300 tw-relative tw-flex tw-items-start tw-justify-center"
        >
          <ng-container *ngFor="let event of events">
            <div
              *ngIf="
                isDateInCurrentWeek(getDateObject(event.date)) &&
                getDayNameFromDate(getDateObject(event.date)) === day.name &&
                event.startTime === hour
              "
              class="tw-text-black tw-border-t-2 tw-w-full tw-p-2 tw-flex tw-flex-col tw-items-start tw-justify-start"
                [ngClass]="getColorClasses(event.color)"
              [ngStyle]="{ height: getRowSpan(event) * 5 + 'rem' }"
            >
              <div class="tw-text-md tw-font-bold tw-text-black">{{ event.eventName }}</div>
              <div class="tw-text-sm tw-text-gray-600">
                {{ event.startTime.substring(0,5) }} - {{ event.endTime.substring(0,5) }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
