<section class="tw-w-screen tw-h-auto tw-relative tw-pl-[200px] tw-flex tw-flex-row">
  <div class="tw-absolute tw-w-full tw-top-0 tw-left-0 tw-h-full tw-hidden" [ngClass]="{
      'tw-bg-black tw-bg-opacity-80 tw-z-[999] tw-block': showModal,
      'tw-hidden': !showModal
    }"></div>
  <app-update-task-modal [showUpdateModal]="showUpdateModal" [updateTaskNameControl]="updateTaskNameControl"
    [updateTaskDescriptionControl]="updateTaskDescriptionControl" [updateProjectControl]="updateProjectControl"
    [assignerUpdateControl]="assignerUpdateControl" [assigneeUpdateControl]="assigneeUpdateControl"
    [updateDeadlineControl]="updateDeadlineControl" [updateCategoryControl]="updateCategoryControl"
    [updateFileControl]="updateFileControl" [selectedUpdateFiles]="selectedUpdateFiles" [projectGroups]="projectGroups"
    [Users]="Users" [categories]="categories" (closeUpdateModal)="closeUpdateModal()"
    (submitUpdateForm)="submitUpdateForm()" (onUpdateFileSelected)="onUpdateFileSelected($event)"
    (onUpdateFileControlled)="onUpdateFileControlled($event)"></app-update-task-modal>

  <app-add-task-modal [showModal]="showModal" [taskNameControl]="taskNameControl"
    [taskDescriptionControl]="taskDescriptionControl" [assignerControl]="assignerControl"
    [assigneeControl]="assigneeControl" [projectControl]="projectControl" [deadlineControl]="deadlineControl"
    [categoryControl]="categoryControl" [fileControl]="fileControl" [selectedFiles]="selectedFiles"
    [projectGroups]="projectGroups" [Users]="Users" [categories]="categories" [tags]="tags()"
    [currentTag]="currentTag()" [separatorKeysCodes]="separatorKeysCodes" [filteredTags]="filteredTags()"
    (closeModal)="closeModal()" (submitForm)="submitForm()" (onFileSelected)="onFileSelected($event)"
    (onFileControlled)="onFileControlled($event)" (remove)="remove($event)" (add)="add($event)"
    (selected)="selected($event)" (trackByCategory)="(trackByCategory)"
    (trackByTag)="(trackByTag)"></app-add-task-modal>

  <div class="tw-w-[700px] tw-h-full tw-flex tw-flex-col tw-gap-3 tw-px-10 tw-py-10 tw-overflow-y-auto">
    <div class="tw-h-auto tw-w-full tw-flex tw-flex-row tw-justify-between tw-items-center">
      <h3 class="tw-text-2xl tw-text-gray-600 tw-font-bold">
        Today, {{ getTodayDate() }}
      </h3>
      <button class="tw-flex tw-w-auto tw-px-4 tw-py-2 tw-bg-sky-800 tw-items-center tw-flex-row tw-gap-2 tw-rounded-xl"
        (click)="openModal()">
        <i class="tw-invert material-icons">add_circle</i>
        <h1 class="tw-text-white tw-text-lg tw-font-semibold">New task</h1>
      </button>
    </div>
        <mat-tab-group class="tw-w-full">
      <mat-tab label="All Tasks" class="tw-w-full">
        <div *ngIf="loading" class="tw-flex tw-justify-center tw-items-center tw-w-full tw-h-auto tw-mt-3">
          Loading your organization's tasks...
        </div>
        <div *ngIf="!loading" class="tw-flex tw-flex-col tw-w-full tw-gap-3 tw-justify-center tw-items-center" cdkDropList (cdkDropListDropped)="drop($event)">
          <app-task-item *ngFor="let task of sortTasks(tasks); let i = index" [task]="task"
            [selectedTask]="selectedTask!" (selectTask)="selectTask($event)"
            (toggleTaskState)="toggleTaskState($event.task, $event.state)" (openUpdateModal)="openUpdateModal($event)"
            (deleteTask)="deleteTask($event)" [currentUserId]="currentUser.userId" cdkDrag>
          </app-task-item>
        </div>
      </mat-tab>
      <mat-tab label="My Tasks">
        <div *ngIf="loading" class="tw-flex tw-justify-center tw-items-center tw-w-full tw-h-full">
          Loading...
        </div>
        <div *ngIf="!loading" class="tw-flex tw-flex-col tw-w-full tw-gap-3 tw-justify-center tw-items-center" cdkDropList (cdkDropListDropped)="drop($event)">
          <app-task-item *ngFor="let task of sortTasks(tasksAssignedToCurrentUser); let i = index" [task]="task"
            [selectedTask]="selectedTask!" (selectTask)="selectTask($event)"
            (toggleTaskState)="toggleTaskState($event.task, $event.state)" (openUpdateModal)="openUpdateModal($event)"
            (deleteTask)="deleteTask($event)" [currentUserId]="currentUser.userId" cdkDrag>
          </app-task-item>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div
    class="tw-w-[50%] tw-top-0 tw-h-screen tw-flex tw-sticky tw-flex-col tw-gap-4 tw-px-4 tw-py-10 tw-overflow-x-hidden">
    <h3 *ngIf="selectedTask" class="tw-text-gray-400 tw-text-xl">
      {{ selectedTask.projectName }}
    </h3>
    <h3 *ngIf="selectedTask" class="tw-text-black tw-font-bold tw-text-3xl">
      {{ selectedTask.title }}
    </h3>
    <h3 *ngIf="selectedTask" class="tw-text-black tw-text-xl tw-text-justify">
      {{ selectedTask.description }}
    </h3>
    <h2 *ngIf="!selectedTask" class="tw-text-black tw-text-2xl tw-font-bold">
      Select a task to see details
    </h2>

    <div *ngIf="selectedTask" class="tw-flex tw-flex-col tw-gap-5 tw-justify-center tw-items-start tw-mt-2">
      <div class="tw-flex tw-flex-row tw-justify-between tw-w-full">
        <div class="tw-flex tw-flex-row tw-justify-start tw-items-center tw-gap-8 tw-text-xl">
          <h2 class="tw-text-gray-400 tw-w-[100px]">Responsible</h2>
          <h3 *ngIf="selectedTask" class="tw-text-black tw-font-semibold tw-text-xl tw-text-justify">
            {{ getAssigneeNameById(selectedTask.assigneeId) }}
          </h3>
        </div>
        <div class="tw-flex tw-flex-row tw-justify-start tw-items-center tw-gap-8 tw-text-xl">
          <h2 class="tw-text-gray-400 tw-w-auto">Created by</h2>
          <h3 *ngIf="selectedTask" class="tw-text-black tw-font-semibold tw-text-xl tw-text-justify">
            {{ getAssignerNameById(selectedTask.assignerId) }}
          </h3>
        </div>
      </div>

      <div class="tw-flex tw-flex-row tw-justify-between tw-w-full">
        <div class="tw-flex tw-flex-row tw-justify-start tw-items-center tw-gap-8 tw-text-xl">
          <h2 class="tw-text-gray-400 tw-w-[100px]">Created at</h2>
          <h3 *ngIf="selectedTask" class="tw-text-black tw-font-semibold tw-text-xl tw-text-justify">
            {{ selectedTask.createdAt | date : "dd MMM yyyy" }}
          </h3>
        </div>
        <div class="tw-flex tw-flex-row tw-justify-start tw-items-center tw-gap-5 tw-text-xl">
          <h2 class="tw-text-gray-400 tw-w-auto">Deadline</h2>
          <h3 *ngIf="selectedTask" class="tw-text-black tw-font-semibold tw-text-xl tw-text-justify">
            {{ selectedTask.deadline | date : "dd MMM yyyy" }}
          </h3>
        </div>
        
      </div>
      <div class="tw-flex tw-flex-row tw-justify-start tw-items-center tw-gap-8 tw-text-xl">
        <h2 class="tw-text-gray-400 tw-w-[100px]">State</h2>
        <h3 *ngIf="selectedTask" class="tw-text-black tw-font-semibold tw-text-xl tw-text-justify">
          {{ selectedTask.state === 1 ? 'Completed' : 'In progress' }}
        </h3>
      </div>

      <div class="tw-flex tw-flex-row tw-justify-start tw-items-center tw-gap-8 tw-text-xl">
        <h2 class="tw-text-gray-400 tw-w-[100px]">Category</h2>
        <h3 *ngIf="selectedTask" class="tw-text-black tw-font-semibold tw-text-xl tw-text-justify">
          {{ selectedTask.type.join(", ") }}
        </h3>
      </div>
      <div class="tw-flex tw-flex-row tw-flex-wrap tw-justify-start tw-items-center tw-gap-3 tw-text-xl">
        <div *ngFor="let tag of selectedTask.taskTags" [ngStyle]="{
            'border-color': tag.color,
            color: tag.color
          }"
          class="tw-flex tw-w-auto tw-px-4 tw-py-1 tw-flex-row tw-gap-2 tw-rounded-3xl tw-border-2 tw-bg-white tw-justify-center tw-items-center">
          <h1 class="tw-text-base tw-font-semibold tw-flex tw-justify-center tw-items-center">
            {{ tag.name }}
          </h1>
        </div>
      </div>
    </div>
    <div *ngIf="selectedTask" class="tw-flex tw-flex-row tw-justify-start tw-items-center tw-gap-2 tw-mt-2">
      <i class="material-icons tw-text-xl tw-text-black">attachment</i>
      <p class="tw-text-xl tw-text-black">Attachments</p>
    </div>

    <div *ngIf="selectedTask?.attachments" class="tw-flex tw-flex-row tw-gap-3 tw-w-full tw-h-auto">
      <div *ngFor="let attachment of selectedTask?.attachments || []" (click)="downloadAttachment(attachment)"
        class="tw-flex tw-cursor-pointer tw-flex-col tw-gap-1 tw-px-3 tw-py-3 tw-justify-center tw-w-auto tw-h-auto tw-border-2 tw-border-gray-400/40 tw-rounded-2xl tw-items-start tw-mt-2">
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.PDF" src="assets/icons/pdf.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.XLSX" src="assets/icons/xlsx.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.PNG" src="assets/icons/png.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.DOCX" src="assets/icons/docx.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.PPTX" src="assets/icons/pptx.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.JPG" src="assets/icons/jpg.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.DOC" src="assets/icons/doc.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.XLS" src="assets/icons/xls.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.PPT" src="assets/icons/ppt.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.XML" src="assets/icons/xml.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.MD" src="assets/icons/md.png" />
        <img class="tw-w-8 tw-h-auto" *ngIf="attachment.fileType === AttachmentType.UNKNOWN"
          src="assets/icons/unknown.png" />
        <p class="tw-text-lg tw-font-bold tw-text-black">
          {{ attachment.name }}
        </p>
        <p class="tw-text-base tw-font-semibold tw-text-gray-500">
          {{ attachment.uploadedAt | date : "dd MMM yyyy" }}
        </p>
      </div>
    </div>

    <div *ngIf="selectedTask" class="tw-flex tw-flex-row tw-justify-start tw-items-center tw-gap-2 tw-mt-4">
      <i class="material-icons tw-text-xl tw-text-black">comment</i>
      <p class="tw-text-xl tw-text-black">Comments</p>
    </div>

    <div *ngIf="selectedTask?.comments" class="tw-flex tw-flex-col tw-gap-3 tw-w-full tw-h-auto">
      <div [ngClass]="{
          'tw-bg-green-200': comment.state === CommentState.checkedd
        }" *ngFor="let comment of selectedTask?.comments || []" (click)="toggleCommentState(comment)"
        class="tw-cursor-pointer tw-flex tw-flex-row tw-w-full tw-h-auto tw-border-2 tw-border-gray-400/40 tw-bg-gray-200 tw-rounded-lg tw-items-start tw-justify-between tw-mt-2 tw-px-4 tw-py-2">
        <div class="tw-flex tw-flex-col tw-gap-1 tw-justify-start tw-items-start tw-w-[95%] tw-h-full">
          <div class="tw-flex tw-flex-row tw-items-center tw-w-full tw-justify-between tw-pr-5">
            <p class="tw-text-lg tw-font-bold tw-text-black">
              {{ comment.userName }}
            </p>
            <p class="tw-text-base tw-font-semibold tw-text-gray-600">
              {{ comment.timeline | date : "dd MMM yyyy" }}
            </p>
          </div>
          <p class="tw-text-base tw-font-semibold tw-text-gray-500">
            {{ comment.commentText }}
          </p>
        </div>
        <i class="material-icons tw-text-2xl tw-text-green-600"
          *ngIf="comment.state === CommentState.checkedd">check_circle</i>

        <i class="material-icons tw-text-2xl tw-text-gray-600"
          *ngIf="comment.state === CommentState.uncheckedd">incomplete_circle</i>
      </div>
    </div>
    <div *ngIf="selectedTask" class="tw-flex tw-flex-col tw-gap-3 tw-w-full tw-h-auto tw-mt-4">
      <div class="textarea-wrapper tw-relative tw-w-full">
        <textarea [(ngModel)]="newCommentText" placeholder="Add a comment. Use @ for referencing."
          class="tw-w-full tw-h-12 tw-p-3 tw-border tw-rounded-full tw-flex tw-border-gray-300 no-outline"></textarea>
        <button (click)="addComment()"
          class="add-comment-button tw-w-8 tw-h-8 tw-flex tw-justify-center tw-items-center tw-bg-gray-300 tw-transition-all tw-duration-300 hover:tw-bg-sky-700 tw-text-white tw-rounded-full tw-absolute tw-right-2 tw-top-1/2 tw-transform tw--translate-y-1/2">
          <i class="material-icons">upload</i>
        </button>
      </div>
    </div>
  </div>
</section>