@tailwind base;
@tailwind components;
@tailwind utilities;

    
::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.mat-mdc-select-panel{
    z-index: 10000000000 !important;
}
.mat-datepicker-content-container{
    z-index: 10000000000 !important;
}